language: java

env:
  global:
    - MAVEN_OPTS=--illegal-access=permit
    - secure: lSM8DLl8rUylY4svwlIRyalrE21Pad+reyLBRMQelmDlPlq3rCaNJziy5QAG18Z3iFIE9KsSuSz4BQBKRumXxnHxcdHT4UYXklP1p8lM8hKWV5zoSKX8eaQf81MOO4a4a8Dj+hRmGANTg2y/YkCXn43vjF2EkRHZ1kBNxGKzGyTkPWWVI2wKdcP+5RBG/Rf43EdtqDePkAhm6oZe1utqBVCl+PYEF0V4EV2uEEgpGqhXkKUxT5Z9b7PIanhYFk7ElOS+Kqn3NL5+T611RAYHXDHdKD7iaDLZ3lWW5Zgk+NFIEzMbgjoROcURjehEXlMJ6Set0nfp0Mnq1d22iRQ5a3q6iZLDe77fQXJwEkIOKXxI/vcrWApXPyb2Gb1D+TMYglEa1/IoRDtW82XWY6HcFlYiDkQWtQqzTq88VP0ptmo6VpX5w5LrdHwmTtXU5zH+cnMCeVpeCIT3+Rea38KjjmSJsF8KJ4wUZ4VCLreDOLii1fKgfyCVdtDkF03szY84mbSKJxFgQu5TKVdKV/V5/QTX7Bcge4+uaJ2PWxLaWsuD2PLn9zoX+hZdCk6i/aMkUVh6/uLmCAp1BOGU2togGY0axHoroMWK10c4yMvykJz2OWGRxmSOXIwaSTdT9HAg0Ta29vB6weHALYmR7ZQfoDHdKYN12CRR/BoKtVfaVJs=
    - secure: ECNxagqWkPH/o3bmzfwLm/ypx5yTAoLGyQUmsfUU117Udi8y9Z8kWDu1JhpI7SDvQ9+LWG50jdnmei+XX77RE6f+60+9gE51YsK7DFLMwd8DN2jNJMh6U/BKs9SCfBbWnMTDgRaEvWAOAMpm2p7qJHS7knkIM/WT3erHPpCa4deJudLb76/+ySdBOUCqTbnuT4jyB4pn9mhbtVPdWPEY3gQENs1pI55wi6k0iiIKdOfPRMprZBVxOxerYp3OU1cd2C7YkxeKECxLmWKrvNAgp+h0a7gvZSOTHXvc+Zcu2YRUGL6hqJ3A6SJR9bFYp9TNe2NfMuVm+gi9vtsklUnwaD+SE0RnMCSSgesORaEtmBswyJfjPDaUiWPHn28w4PE6Em3sW6jwvEF6eCoOUJM5e7oQdndHL3uzRdigtbDb//AgCISkSzkrm4cp4zBKukxKJlIAGppBG4jhWT4Vy5GWDe3Z9zVLd/c/MkCqGMe4wDnZHO7YFhGfgj0HhpiNy6ON12USE7T93NNqMcrVLQ1L2Jc/ku+EP+2RJxHDdJnQQ7zq5Jgo2g+9ovm16d68CktplgQ01ixk0ttOpvMMBgaWXyGp6Do/GqFlyt7OvLmnndy/ucxRR+N2UsrHur0b9XAEpEsj3vELqwKlVDem2X5RrSDQLWZjQXAG02m+e7p3pPo=

jobs:
  include:
    - name: "AMD64/16"
      os: linux
      jdk: openjdk16
      arch: amd64

script: ./gradlew shadowJar